---
import Triangle from "../../icon/Triangle.astro";
import ResultFooter from "./ResultFooter.astro";
import ResultHeader from "./ResultHeader.astro";
---

<section class="container">
  <ResultHeader></ResultHeader>
  <section class="mainview">
    <section class="results">
    </section>
    <!-- <ResultFooter></ResultFooter> -->
  </section>
</section>

<template id="card-template">
  <a href="">
    <section class="card">
      <section class="image"><img alt=""></section>
      <section class="info">
        <h2 class="title"></h2>
        <section class="sub">
          <h4 class="manuf"></h4>
        </section>
        <div class="rating">
          <p></p>
        </div>
      </section>
      <Triangle class="bg-tri"></Triangle>
    </section>
  </a>
</template>

<template id="list-template">
  <a href="">
    <section class="card card-list">
      <section class="image"><img alt=""></section>
      <section class="info">
        <h2 class="title"></h2>
        <section class="sub">
          <h4 class="manuf"></h4>
        </section>
      </section>
      <div class="rating">
        <p></p>
      </div>
      <Triangle class="bg-tri"></Triangle>
    </section>
  </a>
</template>

<script>
  import { navigate } from 'astro:transitions/client';

  let currentPage = 0
  let totalPages = 0

  function getSelectedIDs() {
    return Array.from(document.querySelectorAll(`.categories .checkboxes input[type="checkbox"]:checked`)).map(obj => {
      if (obj instanceof HTMLElement) {
        return obj.dataset.categoryId
      }
    })
  }

  function createGridCard(input: { product_image: string; name: string; producer: string; id: any; rating: any }) {
    const template = document.getElementById('card-template') as HTMLTemplateElement
    const content = template?.content.cloneNode(true) as HTMLElement

    const img = content.querySelector('img')!
    const title = content.querySelector('.title')!
    const manuf = content.querySelector('.manuf')!
    const rating = content.querySelector('.rating p')!
    const anchor = content.querySelector('a')!

    img.src = input.product_image ? input.product_image : "/img/syppi-typsi-bw-o.svg"
    title.innerHTML = input.name
    manuf.innerHTML = input.producer
    anchor.href = `/drink/${input.id}`

    if (input.rating) {
      rating.innerHTML = `${input.rating}/100`
    } else {
      rating.innerHTML = `?/100`
    }

    return content
  }

  function createListCard(input: { product_image: string; name: string; producer: string; id: any; rating: any }) {
    const template = document.getElementById('list-template') as HTMLTemplateElement
    const content = template?.content.cloneNode(true) as HTMLElement

    const img = content.querySelector('img')!
    const title = content.querySelector('.title')!
    const manuf = content.querySelector('.manuf')!
    const rating = content.querySelector('.rating p')!
    const anchor = content.querySelector('a')!

    img.src = input.product_image ? input.product_image : "/img/syppi-typsi-bw-o.svg"
    title.innerHTML = input.name
    manuf.innerHTML = input.producer
    anchor.href = `/drink/${input.id}`

    if (input.rating) {
      rating.innerHTML = `${input.rating}/100`
    } else {
      rating.innerHTML = `?/100`
    }

    return content
  }

  async function updateResults() {
    document.querySelector('.results')!.innerHTML = ''
    currentPage = 0
    while (document.querySelector('.mainview')!.clientHeight + document.querySelector('.mainview')!.scrollTop >= document.querySelector('.mainview')!.scrollHeight) {
      currentPage++
      await loadNewPage()
    }
  }

  async function loadNewPage() {
    const limit = 20
    let alcohol = false
    if (window.location.hostname.split(".")[0] === 'typsi') { // allow alcoholic drinks when using typsi
      alcohol = true
    }
    const filters = document.querySelector('.filters-container')!
    if (!filters) {
      return
    }
    const drinksData = await fetch(`${import.meta.env.PUBLIC_API_URL}/drinks/search`, {
      method: 'POST',
      body: JSON.stringify(
        {
          "search": (document.querySelector('.search-bar input[type="search"]')! as HTMLInputElement).value,
          "limit": limit,
          "page": currentPage,
          "filters": {
            "categories": getSelectedIDs(),
            "alcohol": alcohol
          },
          "ordering": Number((document.querySelector('.view .select select')! as HTMLInputElement).value)
        }
      )
    }).then(response => response.json()).catch(() => navigate('/oops'))
    totalPages = drinksData.totalPages
    const resultMode = localStorage.getItem('resultMode')
    const results = document.querySelector('.results')! as HTMLElement
    if (resultMode === 'grid') {
      results.dataset.viewMode = 'grid'
    } else if (resultMode === 'list') {
      results.dataset.viewMode = 'list'
    }
    for (const iterator of drinksData.result) {
      if (resultMode === 'grid') {
        results.appendChild(createGridCard(iterator))
      } else if (resultMode === 'list') {
        results.appendChild(createListCard(iterator))
      }
    }
    document.querySelector('.result-info p')!.innerHTML = `${Math.min(limit*currentPage,drinksData.totalResults)}/${drinksData.totalResults} results`
  }

  async function handleInfiniteScroll() {
    const endOfPage = document.querySelector('.mainview')!.clientHeight + document.querySelector('.mainview')!.scrollTop >= document.querySelector('.mainview')!.scrollHeight;
    if (endOfPage && currentPage < totalPages) {
      currentPage++
      await loadNewPage()
    }
  }

  function searchInit() {
    const ordering: HTMLInputElement = document.querySelector('.view .select select')!
    const searchbox: HTMLInputElement = document.querySelector('.search-bar input[type="search"]')!
    let timer: number | undefined;

    document.querySelector('.search-bar .return')?.addEventListener('click', async () => {
      clearTimeout(timer)
      await updateResults()
    })

    searchbox.addEventListener('input', () => {
      clearTimeout(timer)
      timer = setTimeout(async () => {
        await updateResults()
      }, 1000)
    })

    searchbox.addEventListener('keypress', async (e) => {
      if (e.key === 'Enter') {
        clearTimeout(timer)
        await updateResults()
      }
    })
  }

  function observeInputs() {
    const config = {
      childList: true,
      subtree: true
    }
    const ordering: HTMLInputElement = document.querySelector('.view .select select')!
    const filters = document.querySelector('.filters-container')!
    const searchbox: HTMLInputElement = document.querySelector('.search-bar input[type="search"]')!

    if (!searchbox || !ordering || !filters) {
      return
    }

    const observer = new MutationObserver(async () => {
      await updateResults()
    });

    observer.observe(filters, config)

    ordering.addEventListener('input', async () => {
      await updateResults()
    })

    document.querySelector('.mainview')?.addEventListener('scroll',handleInfiniteScroll)

    const gridButton = document.getElementById('gridview')
    const listButton = document.getElementById('listview')

    gridButton?.addEventListener('click',async () => {
      await updateResults()
    })

    listButton?.addEventListener('click',async () => {
      await updateResults()
    })
  }

  observeInputs()
  searchInit() // do not add to after-swap event listener, search input is already persistent
  document.addEventListener('astro:after-swap', () => {
    observeInputs()
  })
</script>

<style lang="scss">
  .container {
    height: 100%;
    display: grid;
    gap: var(--pane-outline);
    grid-template-rows: min-content auto;
    overflow: hidden;
  }

  .mainview {
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto min-content;
  }

  .results {
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    background-color: var(--color-002);
    padding: 20px;
    &[data-view-mode="grid"] {
      grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    }
    &[data-view-mode="list"] {
      grid-template-columns: 1fr;
    }
    h2 {
      font-weight: 500;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .card {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-columns: 100px auto;
    align-items: end;
    gap: 8px;
    height: 200px;
    padding: 1em;
    border-radius: var(--element-border-radius);
    // background-color: var(--color-002);
    outline: var(--pane-outline) solid var(--color-003);

    * {
      z-index: 10;
    }

    .image {
      height: 100%;
      width: 100%;
      overflow: hidden;
      padding: 0 .5em;
      box-sizing: border-box;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 4px;
      max-height: 100%;
      overflow: hidden;

      .title {
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
        min-height: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }

      .manuf {
        color: var(--color-005);
      }
    }

    .rating {
      font-size: 1.4em;
      font-weight: 600;
      white-space: nowrap;
    }

    .sub {
      display: flex;
      justify-content: space-between;
    }

    .bg-tri {
      z-index: 0;
      position: absolute;
      top: -35px;
      right: -12px;
      height: 120px;
      width: auto;
      color: color-mix(in oklab, var(--color-primary) 60%, var(--color-001) 40%);
      transition: color 75ms ease-in-out;
    }

    &:hover .bg-tri {
      color: color-mix(in oklab, var(--color-primary) 88%, var(--color-001) 12%);
    }
  }

  .card-list {
    grid-template-columns: 70px auto min-content;
    align-items: center;
    height: 60px;

    .rating {
      font-size: 2em;
    }
  }
</style>