---
import DrinkPage from "../../components/browse/DrinkPage.astro";
import Header from "../../components/header/Header.astro";
import "../../styles/palette.scss";
import "../../styles/sizes.scss";

export const prerender = false;

const { id } = Astro.params;

let drinksData: JSON;

try {
	drinksData = await fetch(`${import.meta.env.PUBLIC_API_URL}/drinks/${id}`, {
		method: "GET",
	}).then((response) => response.json());
} catch (error) {
	return Astro.redirect("/oops");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>typsi🍹 - {drinksData.name}</title>
	</head>
	<body>
		<Header></Header>
    <DrinkPage data={drinksData}></DrinkPage>
	</body>
</html>

<style lang="scss" is:global>
	@font-face {
		font-family: "Nunito";
		src: url("/fonts/Nunito-VariableFont_wght.ttf");
	}

	html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
  }

	body {
		height: 100vh;
		display: grid;
		grid-template-rows: min-content auto;
		gap: var(--pane-outline);
		color: var(--color-text);
		background-color: var(--color-001);
		font-family: "Nunito";
	}
</style>